html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before {content: "\25b2"; } /* "▲" */
.icon-down-dir::before {content: "\25bc";} /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */




a{
  text-decoration: none;
  color: #000000;
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.wrap{
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.wrap-hotels{
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}


/*Хедер*/

.header{
  background-color: #ffffff;
  box-sizing: border-box;
 }

 .main-menu{
  min-height: 56px;
 }

 .navigation{
   font-size: 0;
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
 }

 .navigation li{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 20%;
  box-sizing: border-box;
 }

 .navigation .navigation-name,
 .navigation .active{
   display: block;
   font-family: "PT Sans","arial", sans-serif;
   font-size: 14px;
   line-height: 26px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 15px 0;
 }

.logo-block{
  position: relative;
 }

.navigation .navigation-name.header-logo{
  padding: 0;
  height: 0;
  z-index: 2;
 }

 .navigation li>a:hover{
   color: #81b3d2;
 }

 .navigation li>a:active{
   color: #b2b2b2;
 }

.navigation .active{
   color: #766357;
 }

.navigation .active:hover{
   color: #604e43;
 }

 .navigation .active:active{
    color: #d6d0cc;
  }


/*Index.html container*/
.main-container{
  padding-top: 1px;
  background:  #ffffff url("../img/background_photo_1.jpg") no-repeat 50% 0;
}

/*hotels.html container*/
.main-container-hotels{
  height: 756px;
  background:  #ffffff url("../img/background_photo_hotels.jpg") no-repeat 50% 0%;
}

/*Блок с надписями*/
.logo-banner{
  position: relative;
  padding-bottom: 24px;
  margin-top: 75px;
}

.logo-banner::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 1200px;
  height: 57px;
  background: url("../img/deco.png") no-repeat;
}

.banner-logos{
  margin: 0  auto 55px auto;
}

.welcome-logo{
  width:256px;
  height: 86px;
}

.big-logo{
  width:458px;
  height: 78px;
}

.slogan-logo{
  width:296px;
  height: 80px;
}

/*Блок-причины*/
.summary-block{
  background-color: #fefefe;
  padding: 43px 300px 38px 300px;
  text-align: center;
}

.summary-title{
  margin-bottom: 26px;

}


.summary-title,
.up-block-title-one,
.up-block-title-two,
.city-rew span,
.diablo-rew span,
.search-btn h2,
.visitsedona a{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans","arial", sans-serif;
}

.summary p,
.block1 p,
.city-rew p,
.diablo-rew p,
.question p{
  font-size: 14px;
  line-height: 26px;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: "PT Sans","arial", sans-serif;
}

/*Блоки с причинами*/
.reason{
  font-size: 0;
}
.reason-one{
  margin-bottom: 55px;
}

.block-one{
  display: inline-block;
  vertical-align: top;
  width: 400px;
  background-color: #81b3d2;
  color: #ffffff;
}

.reason-one-foto{
  display: inline-block;
  vertical-align: top;
  width: 800px;
  height:256px;
  background: #2d282f url("../img/foto_2.jpg") no-repeat;
}

/*Наименование голубых блоков))*/
.up-block-title-one,
.up-block-title-two{
  margin: 0px 50px;
  padding-top: 55px;
  padding-bottom: 44px;
  text-align: center;
}

.up-block-title-two{
  margin: 0px 40px;
}

.list-block{
  display: inline-block;
  vertical-align: top;
  width: 380px;
  padding: 10px 10px;
  text-align: center;
}

.up-block-title-one p,
.up-block-title-two p{
  font-size: 14px;
  line-height: 21px;
}

.block-two ul{
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.pic-up-one{
  background:  #ffffff url("../img/house.png") no-repeat 50% 30%;
}

.pic-up-two{
  background:  #ffffff url("../img/burger.png") no-repeat 50% 30%;
}

.pic-up-three{
  background:  #ffffff url("../img/prise.png") no-repeat 50% 29%;
}

.reason-two-foto{
  display: inline-block;
  vertical-align: top;
  width: 800px;
  height:256px;
  background: #ffffff url("../img/foto_3.jpg") no-repeat;
}

.city-rew{
  padding: 0 40px;
  margin-top: 150px;
  line-height: normal;
}

.diablo-rew{
  padding: 34px 55px;
  line-height: normal;
}

.reason-two .block-two{
  background-color: #eeeeee;
}



/*Поиск*/
.search-container{
  position: relative;
  padding: 53px 350px 125px 350px  ;
  background: #ffffff;
  pointer-events: none;
}

.question{
  padding-top: 5px;
  text-align: center;
}

.question p{
  font-size: 14px;
  line-height: 21px;
  padding-top: 8px;
}

.question b{
  font-size: 30px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans","arial", sans-serif;
}

.search-block{
  position: absolute;
  left: 317px;
  top: 204px;
  width: 566px;
  height: 480px;
}

.search-btn{
  display: block;
  padding: 13px 138px;
  background: #766357;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  pointer-events: all;
  border: none;
  outline: none;
}

.search-btn:active{
  box-shadow: inset 0 0 50px rgba(0,0,0,0.4);
}

/*Блок который отображается с помощью JS при нажатии на кнопку .search-btn */
.search-form{
  display: none;
  font-family: "PT Sans","arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 54px 41px 55px 57px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  pointer-events: all;
}

.search-form-show{
  display: block;
}

.search-form-hide{
  display: none;
}


.date {
  box-sizing: border-box;
  width:347px;
  height: 38px;
  margin-bottom: 29px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background: #f2f2f2;
  font-family: "PT Sans","arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.label-titel{
  display: inline-block;
  vertical-align: top;
  padding-top: 6px;
  width: 105px;
}

.date-in label,
.date-out label{
  position: relative;
}

.date,
input[type="text"],
.switch-button{
  outline: none;
}

.date:hover{
  background: #ebebeb;
}
.date:focus{
  background: #ffffff;
  outline: 2px solid #e5e5e5;
}


.icon-calendar{
  position: absolute;
  right: 5px;
  top: -8px;
  padding-top: 5px;
  font-size: 21px;
  line-height: 26px;
  color:#c2c2c2;
}

.icon-plus:hover,
.icon-minus:hover,.icon-calendar:hover{
  color:#000000;
}

.icon-plus:active,
.icon-minus:active,.icon-calendar:active{
  color:#81b3d2;
}

.numb{
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  border: none;
  background: #f2f2f2;
}

.switch-button{
  border: none;
  cursor: pointer;
  background: #f2f2f2;
  padding: 6px 9px;
}

.icon-plus,
.icon-minus{
  color: #a9a9a9;
  font-size: 14px;
  line-height: 26px;
}

.child-switch,
.adult-switch{
  box-sizing: border-box;
  width: 114px;
  height: 38px;
  padding-left: 2px;
  background: #f2f2f2;
}

.adult-switch{
  margin-left: 35px;
  margin-right: 50px;
}

.child-switch{
  margin-left: 20px;
}

.switch-title,
.child-switch,
.adult-switch{
  display: inline-block;
}

.find-button{
  width: 459px;
  height: 58px;
  margin: auto 0;
  margin-top: 55px;
  border: none;
  outline: none;
  background: #81b3d2;
  color:#ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.find-button:hover{
  background: #669ec0;
}

.find-button:active{
  background:#5496bd;
  color:#88b6d1;
}

/*Map*/

.map-box{
  z-index: 1;
  margin-bottom: -120px;
}

/*Подвал*/

footer{
  position: relative;
  z-index: 2;
  font-size: 0;
  padding: 33px 100px 39px 133px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
}

.visitsedona{
  display: inline-block;
  vertical-align: top;
  padding-top: 9px;
  width: 33.334%;
}

.social{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 33.334%;
}

.social ul{
  font-size: 0;
  margin-right: 25px;
  padding: 0;
  list-style: none;
}

.social li{
  display: inline-block;
}

.social li:nth-child(1)> a,
.social li:nth-child(2)> a{
  font-size: 19px;
  line-height: 20px;
}

.social li:nth-child(3)> a{
  font-size: 23px;
  line-height: 20px;
}


.soc{
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  padding-top: 13px;
  text-align: center;
  color:#ffffff;
  background: #81b3d2;
  box-sizing: border-box;
}

.soc:hover{
  background: #669ec0;
}
.soc:active{
  background: #5496bd;
  color:#88b6d1;
}



.copyright-block{
  width: 33.334%;
  display:inline-block;
  vertical-align: top;
  text-align: right;
}

.copyright{
  display:inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 5px;
  width: 113px;
  height: 39px;
  background: url(../img/acadlogo.png) no-repeat;
}

.copyright:hover{
  background: url(../img/acadlogo_hvr.png) no-repeat;
}

.copyright:active{
  background: url(../img/acadlogo_down.png) no-repeat;
}

.copyright::before{
  position: absolute;
  top: 5px;
  left:-82px;
  content:"Website by";
  font-size: 14px;
  line-height: 26px;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: "PT Sans","arial", sans-serif;
}

/*HOTELS*/

.hotel-filters{
  height: 175px;
  /*outline: 1px solid red;*/
  padding: 21px 72px;
}

.find-hotels{
  height: 31px;
  border-bottom:1px solid #e5e5e5;
  background: #ffffff;
  padding: 28px 60px;
}



/*Checkbox*/

.checkbox-filter{
  display: inline-block;
  vertical-align: top;
  width: 527px;
  margin-right: 195px;
}


.perks{
  display: inline-block;
  vertical-align: top;
  margin-right: 115px;
  margin-top: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

input[type="checkbox"]{
  display:none;
}

input[type="checkbox"]+label{
  display: block;
  margin: 26px 0;
  padding-left: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}


input[type="checkbox"]+label::before,
input[type="checkbox"]:checked+label::before,
input[type="checkbox"]:disabled+label::before,
input[type="checkbox"]:checked:disabled+label::before{
position: absolute;
top: 0;
left: 0;
}

input[type="checkbox"]+label::before{
  content: "";
  width: 22px;
  height: 22px;
  background: transparent url(../img/spritesheet.png) no-repeat -5px -5px;
}

input[type="checkbox"]:checked+label::before{
  content: "";
  width: 26px;
  height: 22px;
  background: transparent url(../img/spritesheet.png) no-repeat -37px -5px;
}

input[type="checkbox"]:disabled+label::before{
  content: "";
  width: 22px;
  height: 22px;
  background: transparent url(../img/spritesheet.png) no-repeat -109px -5px;
}

input[type="checkbox"]:checked:disabled+label::before{
  content: "";
  width: 26px;
  height: 22px;
  background: transparent url(../img/spritesheet.png) no-repeat -73px -5px;
}


/*Сложный фитльтр*/
.filter-range {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 11px;
  margin-left: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  margin-left: 13px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price{
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 58px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
    margin-left: 13px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}


/*Результат поиска*/


.find-hotels-title{
  margin-right: 45px;
  margin-left: 10px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.sort-list{
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-top: 8px;
  padding: 0;
  list-style: none;
}

.sort-list li{
  display: inline-block;
  vertical-align: top;
}

.sort-list li:first-child{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}

.sort-list li:not(first-child){
  margin-right: 32px;
}


.sort-list-type,
.active{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #d0d0d0;
  border-bottom: 1px dotted #81b3d2;
}

.sort-list-type:hover{
  color: #81b3d2;
  border:none;
}

.sort-list-type:active{
  color: #000000;
  border:none;
}

.active{
  color: #81b3d2;
  border:none;
}


/*стрелки*/
.switches-case{
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-top: 5px;
  margin-left: 465px;

}

.switches-case  a{
  font-size: 23px;
  line-height: 20px;
  margin-left: -7px;
  color: #cccccc;
}

.switches-case  a:nth-child(2){
  color: #81b3d2;
}

.icon-up-dir:hover::before{
  color: #000000;
}

.icon-up-dir:active::before{
  color: #81b3d2;
}


/*Результаты*/

.hotel-block{
  box-sizing: border-box;
  height: 150px;
  border-bottom:1px solid #e5e5e5;
  padding:  25px 72px;
  background: #ffffff;
}

.hotel-img{
  float: left;
  margin-top: 5px;
  width: 135px;
  height: 90px;
}

.hotel-info{
  float: left;
  padding-left: 30px;
}

.hotel-name{
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 6px;
}

.hotel-name:hover{
  color:#81b3d2;
}

.hotel-name:active{
  color:#cacaca;
}

.type-prise{
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}


.type{
  display: inline-block;
  vertical-align: top;
  width: 110px;
}

.prise{
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
}

.btn-more,
.btn-reserve{
  display: inline-block;
  vertical-align: top;
  padding: 3px 0px;
  margin-top: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.btn-more{
  margin-right: 2px;
  width: 110px;
  background: #81b3d2;
}

.btn-more:hover{
  background: #669ec0;
}

.btn-more:active{
  background: #5496bd;
  color:#88b6d1;
}

.btn-reserve{
  width: 142px;
  background: #766357;
}

.btn-reserve:hover{
  background: #604e43;
}

.btn-reserve:active{
  background: #503e33;
  color:#766860;
}

.rating{
  float: right;
}

.stars{
  text-align: right;
  color:#81b3d2;
}

.icon-star{
  display: inline-block;
  margin-left: -6px;
  font-size: 18px;
  line-height: 20px;
}

.rating-block{
  display: block;
  margin-top: 41px;
  margin-bottom: 0;
  padding: 3px 14px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background: #f2f2f2;
}
